@{
    ViewData["Title"] = "Home Page";
}


<div>
    <ul>
        <li>
            <a href="/About/Hobies">Hobilerim</a>
        </li>
        <li>
            <a href="@Url.Action("Education","About")">Eğitim Hayatım</a>
        </li>
        <li>
            <a asp-action="Abilities" asp-controller="About">Yeteneklerim</a>
        </li>
    </ul>
    <br />
    <a asp-action="Kobay" asp-controller="Sample">Çift mi? Tek mi?</a>

</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
