@{


    if (User.Identity.IsAuthenticated)
    {
        //oturum açan kullanıcı bilgileri
        <div>
            Welcome, @User.FindFirst("Fullname").Value  !
            <a asp-action="Index" asp-controller="Home" asp-area="Management">Yönetim Paneli</a>
            <a asp-action="Logout" asp-controller="Account">Çıkış</a>
        </div>
    }
    else
    {

        <a asp-action="Login" asp-controller="Account">Giriş</a>
    }

}